.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 17vh 0;
    align-items: center;
    height: 45vh;
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 2.3rem;
}

.rightSection img {
    width: 80%;
}