.padding-0-1rem {
    padding: 0 1rem;
}

.font-size-1-2rem {
    font-size: 1.2rem;
}

.font-size-1-5rem {
    font-size: 1.5rem;
}

.font-weight-700 {
    font-weight: 700;
}

.font-style-normal {
    font-style: normal;
}

.border-0 {
    border: 0;
}

.background-rgb-233-150-150 {
    background: rgb(233, 150, 150);
}

.height-1-2px {
    height: 1.2px;
}

.margin-40px-84px {
    margin: 40px 84px;
}

main hr{
    border: 0;
    background: rgb(233, 150, 150);
    height: 1.2px;
    margin: 40px 84px;
}

.cyan_color {
    color: cyan;
}